# Perguntas

**1.** Qual a soma total dos quartos ? 72854

**2.** Quantas casas possuem dois banheiros? 1930

**3.** Qual o preço médio de todas as casas ? 540088.14

**4.** Qual o preço médio das casas com dois banheiros ? 457889.72

**5.** Qual o preço mínimo entre as casas com 3 quartos ? 466232.08

**6.** Quantas casas possuem mais de 300 metros quadrados na sala de estar ?

**7.** Quantas casas tem mais de 2 andares ?

**8.** Quantas casas tem vista para o mar ? 

**9.** Das casas com vista para o mar, quantas tem 3 quartos ?

**10.** Das salas com mais de 300 metros na sala de estar, quantas tem mais de 2 banheiros ?

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('./datasets/kc_house_data.csv')

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
data['bedrooms'].sum()

72854

In [27]:
data.loc[data['bathrooms'] == 2, 'bathrooms'].value_counts()

2.0    1930
Name: bathrooms, dtype: int64

In [39]:
len ( data.loc[data['bathrooms'] == 2, 'bathrooms'])

1930

In [11]:
round(data['price'].mean(), 2)

540088.14

In [24]:
round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

457889.72

In [23]:
round(data.loc[data['bedrooms'] == 3, 'price'].mean(),  2)

466232.08

6. Quantas casas possuem mais de 300 metros quadrados na sala de estar ? 3082

7. Quantas casas tem mais de 2 andares ? 782

8. Quantas casas tem vista para o mar ? 163

9. Das casas com vista para o mar, quantas tem 3 quartos ? 64

10. Das salas com mais de 300 metros na sala de estar, quantas tem mais de 2 banheiros ? 2978

In [32]:
data['m2_living'] = data['sqft_living'].apply(lambda x: x / 10,764)

In [33]:
data[data['m2_living'] > 300].shape

(3082, 22)

In [40]:
len ( data.loc[data['m2_living'] > 300] )

3082

In [34]:
data[data['floors'] > 2].shape

(782, 22)

In [35]:
data[data['waterfront'] == 1].shape

(163, 22)

In [37]:
data[(data['waterfront'] == 1) & (data['bedrooms'] == 3)].shape

(64, 22)

In [38]:
data[(data['m2_living'] > 300) & (data['bathrooms'] > 2)].shape

(2978, 22)